@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" asp-page-handler="register">
                    <button type="submit" class="btn btn-secondary"><i class="fas fa-user-plus"></i> 注册</button>
    </form>
</div>
