.drx-checkbox {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    outline: none;
    background-color: #f0f0f0;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    transform: scale(1);
}

.drx-checkbox:hover {
    box-shadow: 0 0 8px rgba(136, 136, 136, 0.3);
}

.drx-checkbox:checked {
    background-color: #007bff; /* 蓝色背景 */
    border-color: #007bff; /* 蓝色边框 */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* 增强蓝色光晕 */
}

.drx-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 5px;
    border: solid white;
    border-width: 0 0 2px 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 1;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
