.th {
    background: #005da3; /* 浅蓝色背景 */
    color: white;
    font-weight: bold;
}

.table th {
    border: 1px solid #ddd;
    padding-top: 12px; /* 增加内边距 */
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
}

/* 为表格的第一个和最后一个单元格添加圆角 */
.table th:first-child {
    border-top-left-radius: 8px;
}

.table th:last-child {
    border-top-right-radius: 8px;
}

div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}