/.vs/
/.vscode/
/NDV-NetworkCommon/bin/
/NDV-NetworkCommon/obj/
/NDV-TestClient/
/NDV-WebASP/bin/
/NDV-WebASP/obj/
/NetworkCoreSandard/bin/
/NetworkCoreSandard/obj/
/publish/
/Templant/
/NetworkCommonLibrary/bin/
/NetworkCommonLibrary/obj/