.table td {
    border: 1px solid #ddd;
    padding-top: 12px; /* Ôö¼ÓÄÚ±ß¾à */
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 12px;
}

div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
}