.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

main {
    flex: 1;
}

.icon {
    width: 35px;
    height: 35px;
    color: black; /* 设置颜色为黑色 */
    padding: 0px;
    margin: 5px;
}

.line-1px {
    width: 80%;
    height: 1px;
    background-color: dimgrey;
}

.icon-path {
    width: 45px;
    height: 45px;
}

.sidebar {
    background-color: white;
    /* 阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    margin-top: 15px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.sidebar-brand {
    padding: 10px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    /* 取消下划线*/
    text-decoration: none;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
}
