@inherits LayoutComponentBase

<style>

</style>

<div class="page">
    <div class="sidebar">
        <div class="sidebar-header">
            <svg t="1736508209027" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4021" width="200" height="200"><path d="M133.76 891.36h-1.44c-1.44-18.56 10.08-57.92 39.2-113.6a433.28 433.28 0 0 1-39.52-60.16c-60.48 104.16-81.12 186.72-46.72 221.12a66.56 66.56 0 0 0 48 16c42.4 0 102.56-22.72 172.64-64a421.92 421.92 0 0 1-60.32-39.68c-66.88 36.8-101.6 40.32-111.84 40.32zM890.24 132.64h1.44c1.44 18.56-10.08 57.92-39.2 113.6a433.28 433.28 0 0 1 39.52 60.16c60.48-104.16 81.12-186.72 46.72-221.12a66.56 66.56 0 0 0-48-16c-42.4 0-102.56 22.72-172.64 64a421.92 421.92 0 0 1 60.32 39.68c66.88-36.8 101.6-40.32 111.84-40.32z" fill="" p-id="4022"></path><path d="M512 80a432 432 0 1 0 432 432A432 432 0 0 0 512 80z m120 552a1904 1904 0 0 1-229.6 197.28 328.8 328.8 0 0 1-66.4-32 1763.2 1763.2 0 0 0 250.72-210.56A1751.2 1751.2 0 0 0 797.92 336a338.08 338.08 0 0 1 32 66.08A1889.76 1889.76 0 0 1 632 632z" fill="" p-id="4023"></path><path d="M632 632a1904 1904 0 0 1-229.6 197.28 328.8 328.8 0 0 1-66.4-32 1763.2 1763.2 0 0 0 250.72-210.56A1751.2 1751.2 0 0 0 797.92 336a338.08 338.08 0 0 1 32 66.08A1889.76 1889.76 0 0 1 632 632z" fill="#FFFFFF" p-id="4024"></path></svg>
            <a class="sidebar-brand" href="">DRX-云服务</a>
        </div>
        <div class="line-1px"/>

        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>