<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav-1">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 主页
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="console">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 控制台
            </NavLink>
        </div>
    </nav>
</div>