@* DRXDialog.razor *@
<div class="dialog-overlay" @onclick="Close">
    <div class="dialog" @onclick:stopPropagation="true">
        <div class="dialog-header">
            @Header
        </div>
        <div class="dialog-content-container">
            <div class="dialog-content">
                @Content
            </div>
        </div>
        <div class="dialog-footer">
            <DRXButton Height="35px" @onclick="OnButtonClick">@ButtonText</DRXButton>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "OK";

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private void Close()
    {
        OnClose.InvokeAsync();
    }
}
