<td class="td" style="width:@Width;height:@Height;">
    <div class="checkbox-column-div">
        @ChildContent
    </div>
</td>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Width { get; set; } = "auto";

    [Parameter]
    public string Height { get; set; } = "auto";
}